<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UCCViewBackgroundColor</key>
	<string>FFFFFF</string>
	<key>UCCLoginViewDismissButtonTintCorlor</key>
	<string>5B6B76</string>
	<key>UCCLoginViewLoginButtonNormalTitleColor</key>
	<string>FFFFFF</string>
	<key>UCCLoginViewLoginButtonHighlightedTitleColor</key>
	<string>FFFFFF</string>
	<key>UCCLoginViewRegisterButtonNormalTitleColor</key>
	<string>3781d4</string>
	<key>UCCLoginViewRegisterButtonHighlightedTitleColor</key>
	<string>3781d4</string>
	<key>UCCLoginViewForgetPasswordButtonNormalTitleColor</key>
	<string>3781d4</string>
	<key>UCCLoginViewForgetPasswordButtonHighlightedTitleColor</key>
	<string>3781d4</string>
	<key>UCCRegisterForInfoViewNickNameLabelTextColor</key>
	<string>131313</string>
	<key>UCCRegisterForInfoViewCommitButtonNormalTitleColor</key>
	<string>FFFFFF</string>
	<key>UCCRegisterForInfoViewCommitButtonHighlightedTitleColor</key>
	<string>FFFFFF</string>
	<key>UCCRegisterViewContentViewBackgroundColor</key>
	<string>FFFFFF</string>
	<key>UCCSegmentLastLineBackgroundColor</key>
	<string>d3d3d3</string>
	<key>UCCRegisterViewCommitButtonNormalTitleColor</key>
	<string>FFFFFF</string>
	<key>UCCRegisterViewCommitButtonHighlightedTitleColor</key>
	<string>FFFFFF</string>
	<key>UCCResetPasswordViewContentViewBackgroundColor</key>
	<string>FFFFFF</string>
	<key>UCCResetPasswordViewCommitBtnNormalTitleColor</key>
	<string>FFFFFF</string>
	<key>UCCResetPasswordViewCommitBtnHighlightedTitleColor</key>
	<string>FFFFFF</string>
	<key>UCCSegmentLineBackgroundColor</key>
	<string>dfdfdf</string>
	<key>UCCTextFieldBackgroundColor</key>
	<string>FFFFFF</string>
	<key>UCCTextFieldPlaceHolderTextColor</key>
	<string>bababa</string>
	<key>UCCTextFieldTextColor</key>
	<string>000000</string>
	<key>UCCLabelTextColor</key>
	<string>131313</string>
	<key>UCCSendVerificationButtonNormalTitleColor</key>
	<string>000000</string>
	<key>UCCCountDownButtonNormalTitleColor</key>
	<string>3781d4</string>
	<key>UCCCountDownButtonDisableTitleColor</key>
	<string>bababa</string>
	<key>UCCChangePasswordViewBackgroundColor</key>
	<string>FFFFFF</string>
	<key>UCCChangePasswordViewAboutLabelColor</key>
	<string>717171</string>
	<key>UCCChangePasswordViewconfirmButtonNormalTitleColor</key>
	<string>FFFFFF</string>
	<key>UCCChangePasswordViewconfirmButtonHighlightedTitleColor</key>
	<string>FFFFFF</string>
	<key>UCCProgressViewBeginColor</key>
	<string>1BACFA</string>
	<key>UCCProgressViewEndColor</key>
	<string>33FFFF</string>
	<key>UCCOrgSelectedStatusBgColor</key>
	<string>ebf6fd</string>
	<key>UCCTipsBackgroundColor</key>
	<string>ffffcd</string>
	<key>UCCReviewBgColor</key>
	<string>ff9518</string>
</dict>
</plist>
